                  /* Fuentes */

body{
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

.contacto h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: white;
}
                    /* fonts icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vz901l');
  src:  url('../fonts/icomoon.eot?vz901l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vz901l') format('truetype'),
    url('../fonts/icomoon.woff?vz901l') format('woff'),
    url('../fonts/icomoon.svg?vz901l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

                    /* Color de background */

.header, .hero, .footer{
  background-color: #1b2127;
}
.portafolio, .experiencia{
  background-color: #FAFAFA;
}

.contacto{
  background-color: #056fff;
}

                    /* Flex */

.header, .hero, .footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.portafolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  flex-wrap: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
}

                  /* Header */

.header_fig{
  margin: 0px;
  width: 270px;
  height: 90px;
}

.header_fig a{
  width: 270px;
  height: 90px;
  display: inline-block;
  background-image: url(../images/logo.png);
  background-size: 270px 90px;
}

.header_nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
}
.nav{
  padding: 10px;
  /* margin: 0px 25px; */
}

.nav a{
  color: white;
  text-decoration: none;
}



                    /* Hero */

h1{
  margin: 0px;
  color: white;
  font-size: 40px;
  line-height: 60px;
}
h1 strong{
  color: #056fff;
}

.hero img{
  margin: 0px;
  object-fit: cover;
}
                    /* Portafolio */

.portafolio_container{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px 0px;
}

.portafolio_project, .portafolio_img{
  width: 50%;
  margin: 0 auto;
}

.portafolio_project, .portafolio_img{
  display: flex;
  vertical-align: middle;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.portafolio_img img{
  max-width: 100%;
}

.portafolio_project h3{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.portafolio_project h6, .portafolio_project_fecha, .portafolio_project_video{
  margin: 5px 0px;
}


.portafolio_project_fecha strong, .portafolio_project_video strong{
  font-family: "Fjalla One", sans-serif;
}

.portafolio_project_msg{
  font-size: 20px;
}

                    /* Experiencia */

.experiencia{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.experiencia_title{
  text-align: center;
}

.experiencia_container{
  display: flex;
  flex-wrap: wrap;
  /* background-color: white; */
}

.experiencia_fig img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.experiencia_fig{
  margin: 0 auto;
}

.experiencia_content{
  width: 48%;
  margin: 1%;
  background-color: #f4fbff;
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px solid; */
}

.experiencia_info{
  margin: 20px 40px;
  margin-top: -40px;
  padding: 20px;
  background-color: white;
  position: relative;
  text-align: center;
}

.experiencia_info p{
  text-align: left;
}

.experiencia_info a{
  color: #056fff;
  background-color: transparent;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
}

                    /* Contacto */

.contacto{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form_name, .form_email{
  padding: 10px 20px 10px 25px;
  background-position: left;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  margin: 5px 0px;
}

.form_name{
  background-image: url(../images/svg/profile.svg);
}

.form_email{
  background-image: url(../images/svg/envelope.svg);
}

.form_button{
  margin: 10px 0px;
  width: 100px;
  padding: 10px 0px;
  color: white;
  border-radius: 5px;
  background-color: transparent;
  border-color: gray;
  border-style: solid;
}

.social-link{
  display: inline-block;
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: 75px;
  /* width: 50px; */
  /* height: 50px; */
  /* background-size: 50px 50px; */
}

/* .twitter{
  background-image: url(../images/svg/twitter-logo.svg);
}

.facebook{
  background-image: url(../images/svg/facebook-logo.svg);
}

.github{
  background-image: url(../images/svg/github-logo.svg);
}

.instagram{
  background-image: url(../images/svg/instagram-logo.svg);
} */

                    /* Footer */

.footer{
  color: white;
}

.footer p img{
  vertical-align: middle;
}

.footer p a{
  color: white;
  text-decoration: none;
}

.thanks{
  text-align: right;
}

.author_link{
  color: #056fff !important;
}

.hearth{
  color: red;
}

.html_video{
  width: 100%;
  height: auto;
  /* max-width: 100%; */
}

.experiencia_content{
  z-index: 0;
}

.youtube_video{
  /* width: 100%; */
  /* height: auto; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.flexible_video{
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: blue;
  position: relative;
}

.burger_buttom{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(27, 33, 39, .8);
  display: none;
  color: white;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 3;
  left: 5px;
  top: 5px;
}
                  /* media querie */

@media screen and (min-width: 1024px) {
  .header{
    position: sticky;
    top: 0px;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px){
 .container{
   padding: 0px 1em;
 }
}

@media screen and (max-width: 768px){

  .burger_buttom{
    display: block;
  }
                      /* header */
  .header{
    display: block;
  }
  .header_nav{
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    position: fixed;
    background-color: rgba(5, 111, 255, .9);
    z-index: 2;
    top: 0;
    left: -100vw;
    transition: .3s;
  }

  .header_nav.is-active{
    left: 0;
  }

  .nav{
    padding: 25px 0px;
  }

  .nav a{
    font-size: 2em;
    text-decoration: underline;
  }

  .header_fig{
    margin: 0 auto;
  }
                    /* hero */
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  h1{
    font-size: 2em;
    z-index: 1;

  }
  .hero img{
    position: absolute;
    width: 110%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-position: 0px -110px;
  }

                    /* portafolio */
  .portafolio_container{
    display: block;
    margin: 20px 15px;
  }
  .portafolio_project, .portafolio_img{
    width: auto;
  }

  .portafolio_project h6, .portafolio_project_fecha, .portafolio_project_video{
    margin: .2em 0;
  }

  .portafolio_project h3{
    font-size: 3em;
    margin-bottom: .3em;
  }

  .portafolio_project h6, .portafolio_project_fecha, .portafolio_project_video{
    font-size: 1.3em;
  }

  .portafolio_project_msg{
    font-size: 16px;
  }

  .portafolio_img{
    align-items: center;
  }
                    /* experiencia */
  .experiencia_content{
    width: auto;
    margin: 1em;
  }

  .experiencia_fig img{
    width: 100%;
    object-position: 0px -75px;
    height: 250px;
  }

  .thanks, .title_footer{
    font-size: 12px;
  }

}
@media screen and (max-width: 480px){

  h1{
    font-size: 1.5em;
    line-height: 2em;
    background: rgba(0,0,0,0.5);
    padding: .5em;
    border-radius: 20px;
  }

  .hero img{
    object-position: 0px -75px;
    width: 125%;
  }

  .hero{
    padding: 2em .5em;
  }
                      /* portafolio */
  .portafolio_project{
    font-size: 12px;
  }
                    /* experiencia */
  .experiencia_fig img{
    object-position: 0px -45px;
  }

  .experiencia_info{
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contacto{
    display: block;
    text-align: center;
  }

  .form{
    align-items: center;
    margin: 0 auto;
  }

  .social_container{
    margin: 0 auto;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
  }

  .title_footer{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto 0px;
  }

  .thanks{
    margin: 1em auto;
    text-align: center;
    font-size: 0.7em;
  }

  .social-link{
    font-size: 3em;
    margin: 0.2em 0.2em 0.4em;
  }
}

@media screen and (max-width: 320px){
  .hero img{
    object-position: 0em -2.5em
  }

  .experiencia_fig img{
    object-position: initial;
  }

  .hero{
    padding: 2em 0em;
  }

  h1{
    font-size: 1em;
  }

}
